<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="popup.css">
  <% if (NODE_ENV === 'development') { %>
  <!-- Load some resources only in development environment -->
  <% } %>
  <style>
  body {
    background-color: #181818;
    color:red;
  }
  a:link,a:visited,a:active, a:hover, a:focus {text-decoration: none; color: #181818;}
  *:focus, *:active {
      outline: none!important;
  }
  </style>
</head>
<body>
  <div id="app">
  
  </div>
  <script src="popup.js"></script>
</body>
</html>
